@(playlists: List[Playlist])

<div class="span8">
    <div id="toolbar">
        <br/>
        <a href="#" id="addplaylist" class="playlist-add btn btn-success" title="Add a playlist">
            <i class="icon-plus-sign icon-white "></i> &nbsp;&nbsp;Add a new playlist
        </a>
        <br/><br/>
    </div>
    @if(playlists.isEmpty) {
    <div class="alert">
        Ooops, there is no playlist in the database
    </div>
    } else {
    <div id="playlists">
        <table class="table table-striped table-condensed table-bordered tablesorter">
            <thead>
            <tr>
                <th>
                    <b>Playlists</b>
                </th>
                <th>+1 / -1</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for(playlist <- playlists) {
            <tr>
                <td style="width: 180px">
                    <p><a href="@routes.PlaylistController.showPlaylist(playlist.id)">@playlist.name</a></p>
                </td>
                <td style="width: 15px">
                    <p id="grade@playlist.id">@playlist.likeit / @playlist.dontlikeit</p>
                </td>
                <td style="width: 90px">
                    <a href="@playlist.id" class="playlist-queue btn btn-success" title="Add to play queue">
                        <i class="icon-play icon-white "></i>
                    </a>
                    <a href="@playlist.id" class="playlist-delete btn btn-danger" title="Delete playlist">
                        <i class="icon-remove icon-white "></i>
                    </a>
                    <a href="@playlist.id" class="playlist-likeit btn btn-inverse" title="Like">
                        <i class="icon-thumbs-up icon-white "></i>
                    </a>
                    <a href="@playlist.id" class="playlist-dontlikeit btn btn-inverse" title="Don't like">
                        <i class="icon-thumbs-down icon-white "></i>
                    </a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    }
</div>

<div id="addplaylistmodal" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Add a new playlist</h3>
    </div>
    <form action="@routes.PlaylistController.addPlaylist()" method="post" class="form-horizontal">
        <div class="modal-body">
            <fieldset>
                <div id="nameGroup" class="control-group">
                    <label class="control-label" for="inputName">Playlist name:</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge" name="inputName" id="inputName"
                               placeholder="My awesome playlist"/>

                        <p class="help-block">Set playlist name</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" id="submit" type="submit" value="Add playlist" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#addplaylist').click(function(e) {
        e.preventDefault()
        $('#addplaylistmodal').modal()
    })
    $('.playlist-queue').click(function(e) {
        e.preventDefault()
        var href = $(this).attr('href')
        $.post('@routes.PlaylistController.enqueuePlaylist()', {id: href})
    })
    $('.playlist-delete').click(function(e) {
        e.preventDefault()
        var href = $(this).attr('href')
        $.post('@routes.PlaylistController.deletePlaylist()', {id: href})
        $(this).parent().parent().empty()
    })
    $('.playlist-likeit').click(function(e) {
        e.preventDefault()
        var href = $(this).attr('href');
        $.post('@routes.PlaylistController.likePlaylist()', {id: href}, function(data) {
            $('#grade' + href).html(data);
        })
    })
    $('.playlist-dontlikeit').click(function(e) {
        e.preventDefault()
        var href = $(this).attr('href');
        $.post('@routes.PlaylistController.dontlikePlaylist()', {id: href}, function(data) {
            $('#grade' + href).html(data);
        })
    })
</script>
