@(songs: List[Song])

<div class="span8">
    @if(songs.isEmpty) {
    <div class="alert">
        Ooops, library is empty
    </div>
    } else {
    <form class="well form-search">
        Search a particular song / album / artist <input type="text" class="input-medium search-query" id="id_search" style="float: right">
    </form>
    <div id="songs">
        <table id="library" cellpadding="0" cellspacing="0" class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <b>Name</b>
                    </th>
                    <th>
                        <b>Album</b>
                    </th>
                    <th>
                        <b>Artist</b>
                    </th>
                </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
    </div>
    }
    <script type="text/javascript">
        var songtable
        $('a.play-queue').live('click', function(e) {
            e.preventDefault()
            var href = $(this).attr('href')
            $.post('@routes.CommandsController.enqueue()', {id: href})
        })
        $(document).ready(function() {
            songtable = $('#library').dataTable( {
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "sScrollY": "440px",
                "bProcessing": true,
                "sAjaxSource": '/songtable',
                "aoColumnDefs": [ 
                    { 
                        "fnRender": function(obj) {
                            var id = obj.aData[ obj.iDataColumn ]
                            return '<div class="btn-group"><a href="' + id + '" class="play-queue btn btn-small btn-inverse" title="Add to play queue"><i class="icon-plus-sign icon-white "></i></a><a href="' + id + '" class="song-info btn btn-small btn-inverse" title="Infos"><i class="icon-info-sign icon-white "></i></a></div>'
                        }, 
                        "sWidth": 70,
                        "aTargets": [ 0 ]
                    }
                ]
            })
            $('#library_processing').remove()
            $('#library_filter').hide()
            $('#library_info').hide()
            $("#id_search").keyup(function () {
                var value = $(this).val()
                $("#library_filter input").val(value)
                $("#library_filter input").keydown();
                $("#library_filter input").keypress();
                $("#library_filter input").keyup();
                $("#library_filter input").blur();
            }).keyup()
        });
        function updateTableContent() {
            songtable.fnReloadAjax()
        }
    </script>
</div>
