@(songs: List[Song])

@main("DJ - Songs library") {

<div class="row-fluid">
    <div class="span4">
        <h2>Now playing</h2><br/>
        <script type="text/html" id="playing_tmpl">
            <strong>{{name}}</strong><br/>
            from: {{album}}<br/>
            by: {{artist}}
        </script>
        <address id="playing">
            <strong>Nothing</strong><br/>
            from: <br/>
            by: 
        </address>
        <script type="text/html" id="pict_tmpl">
            <img src="{{img}}">
        </script>
        <div id="pict">
            <img src="@util.LastFM.emptyCover">
        </div>
        <br/>
        <a href="#" id="play" class="btn btn-success"><i class="icon-play icon-white"></i></a>
        <a href="#" id="next" class="btn btn-success"><i class="icon-fast-forward icon-white"></i></a>
        <a href="#" id="stop" class="btn btn-danger"><i class="icon-stop icon-white"></i></a>
        <a href="#" id="clear" class="btn btn-primary"><i class="icon-remove icon-white"></i></a>
        <br/>    <br/>
        <a href="@routes.FilesController.currentSong()" id="download" class="btn btn-inverse"><i class="icon-download icon-white"></i></a>
        <a href="@routes.FilesController.currentQueue()" id="downloadall" class="btn btn-inverse"><i class="icon-list-alt icon-white"></i></a>
        <a href="#" id="saveplaylist" class="btn btn-inverse"><i class="icon-hdd icon-white"></i></a>
        <br/><br/>
        <h2>Song Queue</h2><br/>
        <script type="text/html" id="queue_tmpl">
            <tr>
                <td>{{name}}</td>
                <td style="width: 70px">
                    <a href="{{id}}" class="copy-queue btn btn-mini btn-success">
                        <i class="icon-play icon-white"></i>
                    </a>
                    &nbsp;
                    <a href="{{id}}" class="delete-queue btn btn-mini btn-danger">
                        <i class="icon-remove icon-white"></i>
                    </a>
                </td>
            </tr>
        </script>
        <table id="queue" class="table table-striped table-condensed table-bordered"></table>
    </div>
    <div class="span8">
    @if(songs.isEmpty) {
        <div class="alert">
            Ooops, library is empty
        </div>
    } else {
        <form class="well form-search">
            Search a particular song / album / artist <input type="text" class="input-medium search-query" id="id_search" style="float: right">
        </form>
        <!--<div id="pager">
            <form>
                <a href="#" class="btn btn-info btn-small first"><i class="icon-fast-backward icon-white"></i></a>
                <a href="#" class="btn btn-success btn-small prev"><i class="icon-backward icon-white"></i></a>
                <input type="text" class="pagedisplay input-mini">
                <a href="#" class="btn btn-success btn-small next"><i class="icon-forward icon-white"></i></a>
                <a href="#" class="btn btn-info btn-small last"><i class="icon-fast-forward icon-white"></i></a>
                <select class="pagesize input-mini">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option selected="selected" value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                </select>
            </form>
        </div>-->
        <table id="library" class="table table-striped table-condensed table-bordered tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>
                    <b>Name</b>
                </th>
                <th>
                    <b>Album</b>
                </th>
                <th>
                    <b>Artist</b>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="noresults" style="display: none; ">
                <td>No Results</td>
            </tr>
        @for(song <- songs) {
            <tr>
                <td style="width: 50px">
                    <a href="@song.id" class="play-queue btn btn-inverse" title="Add to play queue"><i class="icon-plus-sign icon-white "></i></a>
                </td>
                <td style="width: 400px">
                    <a href="@routes.FilesController.file(song.id)">@song.name</a>
                </td>
                <td style="width: 150px">
                    <a href="@routes.FilesController.album(song.artist, song.album)">@song.album</a>
                </td>
                <td style="width: 150px">
                    <a href="@routes.FilesController.artist(song.artist)">@song.artist</a>
                </td>
            </tr>
        }
        </tbody>
        </table>
    }
    </div>

    <script type="text/javascript">

        function render(templateId, view) {
            return Mustache.render( $(templateId).html(), view )
        }

        $('a.play-queue').live('click', function(e) {
            e.preventDefault()
            var href = $(this).attr('href')
            $.post('@routes.Application.enqueue()', {id: href})
        })
        $('a.copy-queue').live('click', function(e) {
            e.preventDefault()
            var href = $(this).attr('href')
            $.post('@routes.CommandsController.stopSong()')
            $.post('@routes.Application.prequeue()', {id: href}, function(data) {
                $.post('@routes.CommandsController.playSong()')
            })
        })
        $('a.delete-queue').live('click', function(e) {
            e.preventDefault()
            var href = $(this).attr('href')
            $.post('@routes.Application.deletequeue()', {id: href})
        })
        $('#play').click(function(e) {
            e.preventDefault()
            $.post('@routes.CommandsController.playSong()')
        });
        $('#next').click(function(e) {
            e.preventDefault()
            $.post('@routes.CommandsController.nextSong()')
        });
        $('#stop').click(function(e) {
            e.preventDefault()
            $.post('@routes.CommandsController.stopSong()')
        });
        $('#clear').click(function(e) {
            e.preventDefault()
            $.post('@routes.CommandsController.clearQueue()')
        });
        function openSSEConnection() {
            var pushSource = new EventSource( '@routes.Application.playingSSE()' )
            pushSource.onopen = function(e) {
                console.log("[INFO] Monitoring event source opened !")
            }
            pushSource.onerror = function(e) {
                if (pushSource.readyState == EventSource.CLOSED) {
                    console.log("[INFO] Monitoring event source closed !")
                } else {
                    console.log("[ERROR] Monitoring event source error : %s", e)
                }
            }
            pushSource.onmessage = function ( event ) {
                var data = JSON.parse( event.data )
                updateUI( data )
            }
            $.post( '@routes.Application.update()' )
        }
        function updateUI( data) {
            $('#playing').html( render('#playing_tmpl',
                {
                    name: data["name"],
                    album: data["album"],
                    artist: data["artist"]
                }
            ))
            var pict = render('#pict_tmpl', { img: data["img"] } )
            if ($('#pict').html() != pict) {
                $('#pict').html( pict )
            }
            $('#queue').html("")
            var songs = data["queue"]
            for (i in songs) {
                $('#queue').append( render('#queue_tmpl',
                    {
                        id: songs[i]["id"],
                        name: songs[i]["name"]
                    }
                ))
            }
        }
        $(document).ready(function () {
            $("#id_search").quicksearch("#library tbody tr", {
                noResults: '#noresults',
                stripeRows: ['odd', 'even']
            });
            $("#library").tablesorter()
            DJ.log("Ready to go !!!")
            setTimeout(openSSEConnection, 1000)
        });
    </script>
</div>
}