@(songs: List[Song])

@import components._

@main("DJ - Songs library") {

<div class="row-fluid">

    @sidebar()
    @songlist( songs )

    <script type="text/javascript">
        function openSSEConnection() {
            var pushSource = new EventSource( '@routes.Application.playingSSE()' )
            pushSource.onopen = function(e) {
                console.log("[INFO] SSE channel opened !")
            }
            pushSource.onerror = function(e) {
                if (pushSource.readyState == EventSource.CLOSED) {
                    console.log("[INFO] SSE channel closed !")
                } else {
                    console.log("[ERROR] SSE channel error : %s", e)
                }
            }
            pushSource.onmessage = function ( event ) {
                var data = JSON.parse( event.data )
                updateUI( data )
                if (data.command == "updatelib") {
                    $('#songs').load('/ #library', function() {
                        noty({layout: 'bottomRight', theme: 'noty_theme_twitter',
                            type :'success', text: "Library list has just been updated", timeout : 3000 })
                        cacheQuickSearchAfterUpdate()
                        $('#updatelib').html("Update library")
                        $('#updatelib').removeAttr("disabled")
                    })
                }
            }
            $.post( '@routes.CommandsController.updatePlaying()' )
        }
        $(document).ready(function () {
            DJ.log("Ready to go !!!")
            setTimeout(openSSEConnection,400)
        })
    </script>
</div>
}