@(title: String, moreCss: Html = Html(""), moreJs: Html = Html(""))(content: Html)

@import components._

@import util.AssetHelper._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        @favicon("images/favicon.png")

        @cssTag("main.css")
        @css("bootstrap/css/bootstrap.min.css")
        @cssTag("noty/jquery.noty.css")
        @cssTag("noty/noty_theme_twitter.css")
        @cssTag("monitor.min.css")
        @moreCss

        @jsTag("jquery-1.7.1.min.js")
        @jsTag("jquery.quicksearch.js")
        @jsTag("jquery.tablesorter.min.js")
        @jsTag("mustache.js")
        @jsTag("main.js")
        @js("bootstrap/js/bootstrap.min.js")
        @js("bootstrap/js/bootstrap-modal.js")
        @jsTag("jquery.noty.js")
        @jsTag("promise.js")
        @jsTag("monitor.js")
        @jsTag("zanimo.min.js")
        @moreJs

    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                    <h1><a href="@routes.Application.index()" class="brand">DJ</a></h1>
                    <ul class="nav">
                        <li><a href="@routes.PlaylistController.index">Playlists</a></li>
                        <li><a href="#" id="uploadafile">Upload MP3s</a></li>
                        <li><a href="#" id="updatelib">Update library</a></li>
                        <li><a href="#" id="showaboutmodal">About</a></li>
                        <li><a href="#" id="showmonitormodal">Monitor</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(@models.Song.count() songs)</a></li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="container-fluid">
                @upload()
                @about()
                @monitoring()

                @content
            </div>
        </div>
        <script type="text/javascript">
            $('#updatelib').click(function(e) {
                e.preventDefault()
                $.post('@routes.CommandsController.reindexLibraryAsync()')
                $('#updatelib').html("Updating ...")
                $('#updatelib').attr("disabled", "disabled")
            })
        </script>
    </body>
</html>
