@()

<!DOCTYPE html>

<html>
    <head>
        <title>Monitoring</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/monitor.min.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/monitor.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/zanimo.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="monitors"> </div>
        <script type="text/javascript">
            $(document).ready(function() {
                initMonitors( window.document.getElementById("monitors") )
                runMonitors()
            })
        </script>
    </body>
</html>
